@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click <a href="https://github.com/chammaofficial/Assignment.git">Here</a> to get Source code.</p>
</div>
